.form-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.col {
    max-width: 48%;
    margin-right: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.submit-btn-content {
    display: flex;
    justify-content: flex-end;
}
.back-button {
    margin-right: 10px;
}